untitled/work_system/__pycache__/
untitled/hp/__pycache__/
untitled/myos/__pycache__/
untitled/untitled/__pycache__/
untitled/work_system/migrations/
untitled/hp/migrations/
untitled/myos/migrations/
untitled/untitled/setting.py
.idea/
