<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>血条明细-{{ member_hp }}</title>
</head>
<body>
    <div class="container" role="main">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/hp">血条列表</a></li>
                <li class="active">血条明细-{{ member_hp }}</li>
            </ol>
            <p>{{ member_hp }}</p>
            <div class="progress">
            {% if member_hp.value >= 75 %}
                <div class="progress-bar progress-bar-success" style="width: {{ member_hp.value }}%"></div>
            {% elif member_hp.value >= 50 %}
                <div class="progress-bar progress-bar-warning" style="width: {{ member_hp.value }}%"></div>
            {% else %}
                <div class="progress-bar progress-bar-danger" style="width: {{ member_hp.value }}%"></div>
            {% endif %}
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>
                            Buff/Debuff ID
                        </td>
                        <td>
                            Buff/Debuff 类型
                        </td>
                        <td>
                            buff/debuff 详情
                        </td>
                        <td>
                            血量增减
                        </td>
                        <td>
                            添加时间
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% for buff in all_buffs %}
                    {% if buff.hp_increase %}
                    <tr class="success">
                        <td>
                            BuffID:{{ buff.id }}
                        </td>
                        <td>
                            {{ buff }}
                        </td>
                        <td>
                            {{ buff.buff_details }}
                        </td>
                        <td>
                            {{ buff.hp_increase }}
                        </td>
                        <td>
                            {{ buff.add_time }}
                        </td>
                    </tr>
                    {% else %}
                    <tr class="danger">
                        <td>
                            DebuffID:{{ buff.id }}
                        </td>
                        <td>
                            {{ buff }}
                        </td>
                        <td>
                            {{ buff.debuff_details }}
                        </td>
                        <td>
                            {{ buff.hp_decrease }}
                        </td>
                        <td>
                            {{ buff.add_time }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
